.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.header-container{background: #fbfbfb;padding: 5px 0;}
.stock-container{max-width: 980px;margin: 0 auto;padding:0;}
.main-container .light{background-color: #fff;color:#333;}
.main-container .dark{background-color: #121212;color:#fff;}

.reactjs-app.container{width: 100%;}
.container.main-container{padding: 0px 0;}
.img-responsive{width: 100%;display: inline-block;}

.overlay {position: fixed;top: 0; right: 0; left: 0; bottom: 0;text-align: center;background-color: rgba(0, 0, 0, 0.3);padding: 64px 32px;}
.modal {display: inline-block;background-color: white;padding: 24px;position: relative;}
.nav li a.active{background-color: #e7e7e7 !important;}
.navbar {border-radius: 0;margin-bottom: 0; }
.active-stock{width:33%;margin: 15px 15px 0 0 ;}

.panel-default>.panel-heading {font-weight: bold;font-size:16px;}
.item-container i{cursor: pointer;margin-left: 10px;display: none;font-size:17px;}
.item-container:hover i{display: inline;}
.each-item {width: 140px; overflow: hidden; text-decoration: none; text-overflow: ellipsis; white-space: nowrap;}
.each-item img{margin-right:15px;}

.mqcontainer{width: 100%;overflow: hidden;}
.sitemessage {display: inline-block; white-space: nowrap; animation: floatText 180s infinite linear;padding-left: 100%;}
.sitemessage:hover {animation-play-state: paused;}
@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
}

.indexitem .green{color:lightgreen;}
.indexitem .red{color:orangered;}
.indexitem span{margin-right:30px;}

.dark .form-row input, .dark .form-row label{color:#fff !important;}
.search-container label{font-weight: normal;}
.list-group p{padding: 10px;}
.top-offset{margin-top:50px;}
.company-info h1{margin-top: 0;}
.navbar-nav{margin:0;}
.company-chart{background-color: #fff;color:#333;}
.main-container .dark i, .main-container .dark .pull-right{background-color: #fff;color:#333;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (min-width: 768px) {
  .reactjs-app.container{padding:0;}
}

@media screen and (max-width: 768px) {
  nav .container-fluid .navbar-header{margin-left:0;}
}

